.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.aboutImage {
  height: 286px;
  max-height: 100%;
  width: 286px;
  max-width: 100%;
  object-fit: cover;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  left: 0;
  z-index: 20;
}

.logo {
  margin-top: 5px;
}


.logo img {
  height: 20%;
  width: 30%;
}

body {
  padding-top: 65px;
}

#bg {
  background-image: url(./pictures/lebron2.png);
  position:absolute;
  top: 0;
  left: 0;
  min-width:100%;
  min-height:100%;
  z-index: 0;
  
}

.image { 
  position: relative; 
  width: 100%; /* for IE 6 */
}

h2 {

  position: absolute; 
  top: 50%; 
  left: 50%; 
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%); 
  color: aliceblue;
  font-size: 50px;
  font-weight: 350;
}

.homebut {
  position: absolute; 
  top: 50%; 
  justify-content: center;
  transform: translate(0%, 1700%); 
  text-align: center;
}

h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

.card {
  margin-top: 20px;
}

.card-footer{
  margin-top: 5px;
  background-color: rgba(0,0,0,.15);
}

a{
  color: #000000;
}

.admin-background {
  margin-top: 10px;
  font-weight: bolder;
}

.btn-accept{
  color: #fff;
  background-color: #199109;
  border-color: #199109;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.btn-accept:hover {
  background-color: #178508;
  color: white;
}

a:hover {
  color: #ffffff;
}

.btn-danger{
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}