.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.aboutImage {
  height: 286px;
  max-height: 100%;
  width: 286px;
  max-width: 100%;
  object-fit: cover;
}

.card {
  margin-top: 20px;
}

.card-footer{
  margin-top: 5px;
  background-color: rgba(0,0,0,.15);
}

a{
  color: #000000;
}

.admin-background {
  margin-top: 10px;
  font-weight: bolder;
}

.btn-accept{
  color: #fff;
  background-color: #199109;
  border-color: #199109;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.btn-accept:hover {
  background-color: #178508;
  color: white;
}